<h3>Backlinks</h3>
<ul class="backlinks">
    {{$url := urls.Parse .Site.BaseURL }}
    {{$host := strings.TrimRight "/" $url.Path }}
    {{$curPage := strings.TrimPrefix $host (strings.TrimRight "/" .Page.RelPermalink) }}
    {{$inbound := index $.Site.Data.linkIndex.index.backlinks $curPage}}
    {{if $inbound}}
    <script>
        console.log({{ $inbound }})
    </script>
    {{- range $inbound -}}
        {{$src := index . "source"}}
        {{$src = replace $src " " "-"}}

        <li>
            {{ if eq (index . "source") "" }}
            <a href="/{{$src}}">Home</a>
            {{ else }}
            <a href="/{{$src}}">{{ strings.TrimPrefix "Notes/" (index . "source") }}</a>
            {{ end }}
        </li>
    {{- end -}}
    {{else}}
    <li>
        No backlinks found
    </li>
    {{end}}
</ul>